---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import BlogCard from '../../components/BlogCard.astro';

const allPosts = await getCollection('blog');
const pageTitle = "Blog";
const sortedPosts = allPosts.sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);
---

<Layout title={pageTitle}>
    <h1 class="layout-title">Drooone Blog</h1>
    <p class="layout-description">This is where the Drooone team (especially me) post about our chat app. And, this blog was only made by English-speaking people (like me), and I can't translate the whole blog, so you'll have to use something like "Translate this site", sorry about that.</p>
    <div class="card-list">
        {sortedPosts.map((post) => (
            <BlogCard post={post} />
        ))}
    </div>
</Layout>