/* Tailwind and DaisyUI Plugins */
@import "tailwindcss";
@plugin "daisyui";

/* Font */
@import '@fontsource-variable/ubuntu-sans/wdth.css';

/* Global Styles */
:root {
    --drooone-orange: #e53612;
    --drooone-orange-light: #ff7043;
    --drooone-orange-dark: #b22a0e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu Sans Variable', sans-serif;
    color: var(--color-base-900);
    line-height: 1.6;
}

/* Layout Text */
.layout-title {
    font-size: 2.5rem;
    font-variation-settings: "wdth" 75, "wght" 800;
    color: var(--drooone-orange);
    text-align: center;
    margin-top: 1rem;
}

.layout-description {
    font-size: 1.25rem;
    font-variation-settings: "wdth" 85, "wght" 500;
    color: var(--color-base-700);
    text-align: center;
    margin-bottom: 1rem;
}

/* Navbar Styles */
.navbar {
    padding: 2rem 15rem 0rem 15rem;
}

.navbar-brand {
    filter: drop-shadow(3px 3px 3px var(--color-base-300));
}

.navbar-brand p {
    font-size: 1rem;
    font-variation-settings: "wdth" 83, "wght" 600;
    color: var(--color-base-700);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-menu {
    display: flex;
    gap: 1rem;
    margin-left: auto;
    background-color: var(--color-base-200);
    padding: 0.5rem 1.25rem;
    border-radius: 40rem;
    box-shadow: 3px 3px 3px var(--color-base-300);
}

.navbar-menu li {
    list-style: none;
}

.navbar-menu a {
    color: white;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    text-transform: uppercase;
    font-variation-settings: "wdth" 75, "wght" 800;
    font-size: 1.35rem;
    transition: color 0.3s ease;
}

.navbar-menu a:hover {
    color: var(--color-primary);
}

/* Main Content Styles */
main {
    margin: 1rem 15rem 1rem 15rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--color-base-200);
    border: 5px solid var(--color-base-300);
    box-shadow: 3px 3px 3px var(--color-base-200);
}

/* Blog Card List Styles */
.card-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1.5rem;
}
.blog-card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-base-100);
    border: 2px solid var(--color-base-300);
    color: var(--color-base-900);
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.blog-card:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    border-color: #2c3744;
}

.card-content {
    display: flex;
    flex-direction: column;
}

/* Typography */
.card-title {
    color: var(--drooone-orange);
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.card-description {
    font-size: 1rem;
    color: #ccc;
    margin-bottom: 1rem;
}

/* Metadata (Date/Author) */
.card-metadata {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    color: #aaa;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    border-top: 1px dashed var(--color-base-200);
}

/* Tags */
.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag-pill {
    background-color: var(--color-base-200);
    color: var(--drooone-orange-light);
    padding: 0.25rem 0.75rem;
    border-radius: 15px;
    font-size: 0.75rem;
    text-transform: lowercase;
    font-weight: bold;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--color-base-700);
}

footer p {
    display: inline-block;
}