@import './imports.css';

.horizontal-rule {
    border: none;
    height: 1px; /* Sets the thickness of the line */
    background-color: var(--color-base-200); /* Sets the color of the line */
    margin: 20px 0;
}

.mdx-body {
    font-family: 'Ubuntu Sans Variable', sans-serif;
    background-color: var(--color-base-100);
    margin: 0;
    padding: 0 15px;
}

.mdx-sidebar {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 0 8px;
}

.mdx-container {
    font-size: 1.1rem;
    line-height: 1.7;
    color: var(--color-base-content);
    max-width: 700px;
    margin: 0 auto;
    padding: 20px 0;
}

.mdx-title {
    color: var(--drooone-orange);
    font-size: 2.5rem;
    font-variation-settings: "wdth" 75, "wght" 800;
}

.mdx-description {
    color: var(--color-base-700);
    font-size: 1.25rem;
    font-variation-settings: "wdth" 85, "wght" 500;
    margin-bottom: 1.5rem;
}

.mdx-end {
    display: flex;
    place-items: center;
    padding-top: 1rem;
    gap: 0 0.5rem;
}

.mdx-end-text {
    color: var(--color-base-600);
    font-size: 0.9rem;
    opacity: 0.5;
}

.mdx-end-logo {
    width: 40px;
    height: auto;
    opacity: 0.5;
}

.astro-end-logo {
    width: 20px;
    height: auto;
    opacity: 0.5;
}

.mdx-dir {
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
    margin-bottom: 1rem;
    color: var(--color-base-600);
    font-size: 0.9rem;
}

.mdx-content h1,
.mdx-content h2,
.mdx-content h3,
.mdx-content h4,
.mdx-content h5,
.mdx-content h6 {
    font-weight: 700;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    color: #1a1a1a;
}

.mdx-content p {
    margin-bottom: 1.25rem;
}

.mdx-content a {
    color: var(--drooone-orange);
    text-decoration: none;
}