---
import Layout from '../layouts/Layout.astro';
const pageTitle = "About";
---

<Layout title={pageTitle}>
    <h1 class="layout-title">About Drooone</h1>
    <p class="layout-description">Drooone is a massive chat app that was created by me.</p>
</Layout>