---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Drooone";
---

<Layout title={pageTitle}>
	<h1>Welcome to Drooone</h1>
	<p>Your go-to platform for drone enthusiasts.</p>
</Layout>
