---
import { Image } from "astro:assets"
import logo from "../assets/logo.svg"
---

<a href="/" class="navbar-brand">
    <Image src={logo} alt="Drooone Logo" width={256} />
    <p>Optimizable. Organizable. Open-source.</p>
</a>