---
import Logo from './Logo.astro'
---

<nav class="navbar">
  <div class="container">
    <Logo />
    <ul class="navbar-menu">
      <li><a href="/about">About</a></li>
      <li><a href="/download">Download</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/wiki">Wiki</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>